@{
    ViewData["Title"] = "Projekt z MAS";
}
@model List<Bohater>

<div id="naglowek">
    Aplikacja na MAS
    <p>-Oskar Rajzer</p>
</div>

<div id="main">

<div id="spis">
    <span id="spisBohaterow">Spis bohaterów</span>
    <table>
        <tr class="tableTitle">
            <th class="cell">Imie</th>
            <th class="cell">Aktualny stan</th>
            <th class="cell">Zmień stan</th>
        </tr>

        @{ int i = 0;}
        @foreach(var boh in Model)
        {
            var tmp = i%2 == 0 ? "rowGray" : "rowOrange";
            <tr class=@tmp>
                <td class="cellPadding cellSpacing">@boh.Imie</td>
                <td class="cell cellSpacing">@boh.Stan</td>
                @{var stanBoh = "Dostepny"; }
                <!-- if(boh.stan == VSC) -->
                    <!-- stanBoh = "Niedostepny"; -->
                <td class="cell cellSpacing stanButton"><a class="btn btn-primary" href="?" role="button">@stanBoh</a></td>
            </tr>
            i++;
        }
    </table>
</div>

<div id="picker">
    <div>
        <div>Liczba bohaterów: <span class="xSize">[x]</span></div>
        <a href="?" class="btn btn-outline-dark btn-block" role="button">Dodaj bohatera</a>
        <a href="?" class="btn btn-outline-dark btn-block" role="button">Edytuj</a>
        <a href="?" class="btn btn-outline-dark btn-block" role="button">Usuń</a>
    </div>
</div>

<div id="skill">
    <div>
    <form method="post" action="?">
        Imię: <input name="?" value="[Imie bohatera]"/>
        <hr>
        <fieldset id="stat">
            <legend>Statystyki:</legend>
            <div class="alignLeft">
                <span><input type="checkbox" name="sokCheckbox" value="">Sila obrazen krytycznych</span>
                <input class="alignRight" name="silaObrazenKrytycznych" value="[x]"/>
            </div>
            <div class="alignLeft">
                <span><input type="checkbox" name="plCheckbox" value="">Przelicznik leczenia</span>
                <input class="alignRight" name="punktyLeczenia" value="[x]"/>
            </div>
            <div class="alignLeft">
                <span><input type="checkbox" name="pwCheckbox" value="">Punkty wytrzymalosci</span>
                <input class="alignRight" name="punktyWytrzymalosci" value="[x]"/>
            </div>
        </fieldset>

        <hr>

        <fieldset class="skill">
            <div>
                <label for="?">Nazwa:</label><input name="?" value="[Nazwa umiejetnosci]"/>
            </div>
            <div>
                <label for="?">Opis:</label><input type="textarea" name="?" value="[Opis]"/>
            </div>
            <div>
                <label for="?">Punkty obrażeń:</label><input name="?" value="[x]"/>
            </div>
            <div>
                <label for="?">Punkty leczenia:</label><input name="?" value="[x]"/>
            </div>
            <div>
                <label for="?">Punkty wytrzymałości:</label><input name="?" value="[x]"/>
            </div>
            <div>
                <label for="?">Klawisz:</label>
                <select class="special">
                    <option value="Q">Q</option>
                    <option value="R">R</option>
                </select>
            </div>
        </fieldset>
        
        <button type="button" id="skillButton">Dodaj umiejętność</button>

        <div id="buttons">
            <button disabled id="zapisz">Zapisz</button> <button id="anuluj">Anuluj</button>
        </div>

    </form>
    </div>
</div>

</div>