@media(min-width: 1100px){

    #skill{
        display: flex;
        flex: 0.8 0.8 200px;



        margin-top: -80px;
        

        
    }

    #skill > div{
        height: 85vh;
        width: 47vw;
        max-width: 47vw;
        min-width:550px;
        padding: 20px 40px;
        border: dotted 1px black;
        overflow: scroll;
        position: fixed;
        text-align: left;
    }

    legend{
      font-size: 1.5em;
      margin-bottom: 0px;
    }

    hr {
      border-style: dashed;
      border-color: black;
    }

    fieldset{
      width: 400px;
    }

    input[type="textarea"]{
      height: 60px;
      padding-top: 0px;
    }

    button{
      margin-left: 100px;
    }

    .skill{
      margin-bottom: 30px;
      border-left: 1px solid black;
      padding-left: 5px;
      padding-bottom: 5px;
      border-bottom: 1px solid black;
    }

    #buttons{
      margin-top: 25px;
      margin-bottom: 0px;
    }

    .invisible{
      display: none;
    }


}
fieldset > div{
  display: flex;
  justify-content:  space-between; 
}
#stat{
  margin-bottom: 20px;
}

.special{
 
}






/* input[type="text"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[type="text"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
} */